<div class="row">
    <div class="form-group col-md-2">
        {{ form_widget(form.vendor) }}
        {{ form_widget(form.customer) }}
        {{ form_widget(form.vinNumber) }}
        {{ form_widget(form.brand) }}
        {{ form_widget(form.model) }}
        {{ form_widget(form.versionPolish) }}
        {{ form_widget(form.versionGerman) }}
        {{ form_widget(form.completed) }}
    </div>
    <div class="form-group col-md-2">
        {{ form_widget(form.carRegistration) }}
        {{ form_widget(form.carMileage) }}
        {{ form_widget(form.initialVatPrice) }}
        {{ form_widget(form.initialPriceWithOutVat) }}
        {{ form_widget(form.paid) }}
        {{ form_widget(form.orderNumber) }}
        {{ form_widget(form.ourDiscountPrice) }}
        {{ form_widget(form.invoiceNumber) }}
    </div>
</div>