<div class="row">
    <div class="form-group col-md-2">
        {{ form_widget(form.customer) }}
        {{ form_widget(form.vinNumber) }}
        {{ form_widget(form.brand) }}
        {{ form_widget(form.model) }}
        {{ form_widget(form.versionPolish) }}
        {{ form_widget(form.versionGerman) }}
        {{ form_widget(form.colorGerman) }}
        {{ form_widget(form.standartComplectationGerman) }}
        {{ form_widget(form.complectationGerman) }}
        {{ form_widget(form.completed) }}
    </div>
    <div class="form-group col-md-2">
        {{ form_widget(form.radioCode) }}
        {{ form_widget(form.carCondition) }}
        {{ form_widget(form.carRegistration) }}
        {{ form_widget(form.carMileage) }}
        {{ form_widget(form.paid) }}
        {{ form_widget(form.documents) }}
        {{ form_widget(form.downloadDate) }}
        {{ form_widget(form.location) }}
        {{ form_widget(form.information) }}
        {{ form_widget(form.ourDiscountPrice) }}
    </div>
</div>