{% extends '@Admin/layout.html.twig' %}

{% block title %}{% trans %}Cars{% endtrans %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-title page-title-custom">
                <a href="{{ path('admin_car_new') }}" class="btn btn-primary" type="button">{% trans %}Add New Car{% endtrans %}</a>
                <button class="btn btn-info car-selection-button">{% trans %}Multiply selection{% endtrans %}</button>
                <button class="btn btn-info car-select-all-button">{% trans %}Select all{% endtrans %}</button>
                <button class="btn btn-success car-edit-button">{% trans %}Edit{% endtrans %}</button>
                {% if app.user.accessDeleteButton() %}
                    <button class="btn btn-danger car-delete-button" data-target="#modal-for-delete-item" data-toggle="modal">{% trans %}Delete{% endtrans %}</button>
                {% endif %}
                <button class="btn btn-success car-show-hide-button">{% trans %}Show/Hide{% endtrans %}</button>
                <button class="btn btn-warning car-clear-filters">{% trans %}Clear Filters{% endtrans %}</button>
                <button class="btn btn-dark car-update-button"><i class="fas fa-redo-alt"></i></button>
                {% if app.user.accessShowDuplicates() %}
                    <button class="btn btn-dark car-show-duplicates"><a href="{{ path('admin_showduplicate_index') }}">Duplicates</a></button>
                {% endif %}
                <div class="car-right-buttons">
                    {% if app.user.accessArchiveButton() %}
                        <button class="btn btn-dark car-archive-button" data-target="#modal-for-archive" data-toggle="modal">{% trans %}Add to archive{% endtrans %}</button>
                    {% endif %}
                    <button class="btn btn-success car-export-excel-button">{% trans %}Export to Excel{% endtrans %}</button>
                </div>
            </div>
            <div class="users">
                <table id="datatable-car" class="table image-table table-bordered table-striped table-condensed table-hover">
                    <thead>
                        {% if app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_1') %}
                            {%- include '@Admin/car/partial/carTable/roleOne.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_2') %}
                            {%- include '@Admin/car/partial/carTable/roleTwo.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_3') %}
                            {%- include '@Admin/car/partial/carTable/roleThree.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_4') %}
                            {%- include '@Admin/car/partial/carTable/roleFour.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_5') %}
                            {%- include '@Admin/car/partial/carTable/roleFive.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_6') %}
                            {%- include '@Admin/car/partial/carTable/roleSix.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_7') %}
                            {%- include '@Admin/car/partial/carTable/roleSeven.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_8') %}
                            {%- include '@Admin/car/partial/carTable/roleEight.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_9') %}
                            {%- include '@Admin/car/partial/carTable/roleNine.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_10') %}
                            {%- include '@Admin/car/partial/carTable/roleTen.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_11') %}
                            {%- include '@Admin/car/partial/carTable/roleEleven.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_12') %}
                            {%- include '@Admin/car/partial/carTable/roleTwelve.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_13') %}
                            {%- include '@Admin/car/partial/carTable/roleThirteen.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_14') %}
                            {%- include '@Admin/car/partial/carTable/roleFourTeen.html.twig' -%}
                        {% endif %}
                        {% if app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_1') %}
                            {%- include '@Admin/car/partial/carTable/roleOne.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_2') %}
                            {%- include '@Admin/car/partial/carTable/roleTwo.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_3') %}
                            {%- include '@Admin/car/partial/carTable/roleThree.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_4') %}
                            {%- include '@Admin/car/partial/carTable/roleFour.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_5') %}
                            {%- include '@Admin/car/partial/carTable/roleFive.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_6') %}
                            {%- include '@Admin/car/partial/carTable/roleSix.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_7') %}
                            {%- include '@Admin/car/partial/carTable/roleSeven.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_8') %}
                            {%- include '@Admin/car/partial/carTable/roleEight.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_9') %}
                            {%- include '@Admin/car/partial/carTable/roleNine.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_10') %}
                            {%- include '@Admin/car/partial/carTable/roleTen.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_11') %}
                            {%- include '@Admin/car/partial/carTable/roleEleven.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_12') %}
                            {%- include '@Admin/car/partial/carTable/roleTwelve.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_13') %}
                            {%- include '@Admin/car/partial/carTable/roleThirteen.html.twig' -%}
                        {% elseif app.user.getRole == classConstant('AdminBundle\\Enum\\UserRoleEnum', 'ROLE_ADMIN_14') %}
                            {%- include '@Admin/car/partial/carTable/roleFourTeen.html.twig' -%}
                        {% endif %}
                    </thead>
                </table>
            </div>
            {%- include '@Admin/partial/modal/modal_for_delete_item.html.twig' with {'type': 'Do you want to delete this car?'|trans} -%}
            {%- include '@Admin/partial/modal/modal_add_to_archive.html.twig' -%}
            {%- include '@Admin/partial/modal/warning_modal.html.twig' -%}
        </div>
    </div>
{% endblock %}

{% block admin_stylesheets %}
    <link href="{{ asset('css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/fixedColumns.bootstrap4.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/datatable.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/cars/cars.css') }}" rel="stylesheet">
{% endblock %}
{% block admin_javascripts %}
    <script type="text/javascript">
	  window.ajaxData = '{{ path('admin_car_ajaxdata') }}';
	  window.editRoute = '{{ path('admin_car_edit') }}';
	  window.deleteRoute = '{{ path('admin_car_delete') }}';
	  window.addToArchive = '{{ path('admin_car_archive') }}';
	  window.carConditionUrl = '{{ path('admin_car_carcondition') }}';
	  window.exportExcel = '{{ path('admin_exportexcel_index') }}';
	  window.changeCheckbox = '{{ path('admin_car_changecheckbox') }}';
	  window.changeInputField = '{{ path('admin_car_changeinputfield') }}';
	  window.changeSelectInput = '{{ path('admin_car_changeselectinput') }}';
	  window.getCarFilterData = '{{ path('admin_ajax_ajaxcarfilters_getcarfilterdata') }}';
	  window.userLocale = '{{ app.user.locale }}';
	  window.role = '{{ app.user.getRole }}';
	  window.userId = '{{ app.user.getId }}';
	  window.vinNumber = '{{ 'Vin number'|trans }}';
    </script>
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('js/dataTables.fixedColumns.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/car/car.js') }} " type="module"></script>
{% endblock %}