{% extends '@Admin/layout.html.twig' %}

{% block title %}{% trans %}Create user{% endtrans %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div>
                <h2>{% trans %}Create user{% endtrans %}</h2>
            </div>
            <div>
                {{ form_start(form) }}
                <div class="form-group col-md-12">
                    <label for="firstName">{% trans %}First name{% endtrans %}</label>
                    {{ form_widget(form.firstName) }}
                </div>
                <div class="form-group col-md-12">
                    <label for="lastName">{% trans %}Last name{% endtrans %}</label>
                    {{ form_widget(form.lastName) }}
                </div>
                <div class="form-group col-md-12">
                    <label for="email">{% trans %}Email{% endtrans %}</label>
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group col-md-12">
                    <label for="phoneNumber">{% trans %}Phone number{% endtrans %}</label>
                    {{ form_widget(form.phoneNumber) }}
                </div>
                <div class="form-group col-md-12">
                    <label for="password">{% trans %}Password{% endtrans %}</label>
                    {{ form_widget(form.password) }}
                </div>
                <div class="form-group col-md-12">
                    <label for="role">{% trans %}Role{% endtrans %}</label>
                    {{ form_widget(form.role) }}
                </div>
                <div class="form-group col-md-12">
                    <label for="locale">{% trans %}Locale{% endtrans %}</label>
                    {{ form_widget(form.locale) }}
                </div>
                <div class="form-group col-md-12">
                    {{ form_widget(form.isVisible) }}
                </div>
                <div class="form-group col-md-12">
                    <input class="btn btn-primary" type="submit" value="{% trans %}Create{% endtrans %}" />
                    <a href="{{ path('admin_user_index') }}" type="button" class="btn btn-primary">{% trans %}Cancel{% endtrans %}</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}