{% extends '@Admin/layout.html.twig' %}

{% block title %}{% trans %}Car Edit History{% endtrans %}{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="car-edit-history">
                <table id="datatable-car-edit-history" class="table image-table table-bordered table-striped table-condensed table-hover" style="width: 100% !important;">
                    <thead>
                    <tr>
                        <th>{% trans %}Edit Date{% endtrans %}</th>
                        <th>{% trans %}User{% endtrans %}</th>
                        <th>{% trans %}Vin number{% endtrans %}</th>
                        <th>{% trans %}Column{% endtrans %}</th>
                        <th>{% trans %}Old Value{% endtrans %}</th>
                        <th>{% trans %}New Value{% endtrans %}</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block admin_stylesheets %}
    <link href="{{ asset('css/datatables.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/admin/css/datatable.css') }}" rel="stylesheet">
{% endblock %}
{% block admin_javascripts %}
    <script type="text/javascript">
	  window.ajaxData = '{{ path('admin_caredithistory_ajaxdata') }}';
	  window.userLocale = '{{ app.user.locale }}';
    </script>
    <script src="{{ asset('js/datatables.min.js') }}"></script>
    <script src="{{ asset('bundles/admin/js/car/editHistory.js') }} " type="module"></script>
{% endblock %}