{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-form">
                    <div class="login-form-title">Händler-Login</div>
                    <div class="login-form-background">
                        {{- form_start(form) -}}
                        {{- form_widget(form) -}}
                        {%- if error is not empty -%}
                            <p class="alert alert-danger">
                                {{ error }}
                            </p>
                        {%- endif -%}
                        <input class="btn btn-primary login-button" type="submit" value="Login" />
                        {{- form_end(form) -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/admin/css/login/login.css') }}" rel="stylesheet">
{% endblock %}